:root {
    --color-black: #121213;
    --color-white: #fff;
    --color-green: #538d4e;
    --color-yellow: #B59F3B;
    --color-gray-dark: #3A3A3C;
    --color-gray-light: #818384;
}

html { box-sizing: border-box;}
*,*:before,*:after {box-sizing: inherit;}

body {
    background: var(--color-black);
    color: var(--color-white);

    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;

    min-height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

header {
    border-bottom: 1px solid var(--color-gray-dark);
}

h1 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#board, #keyboard {
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-transform: uppercase;
}

#board ul,
#keyboard ul {
    display: flex;
    list-style: none;
    gap: 6px;
    padding: 0;
    margin: 0;
}

[data-status],
[data-key] {
    border: 2px solid var(--color-gray-dark);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 4rem;
    width: 4rem;

    user-select: none;
}